@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 210px;
}

.mapboxgl-ctrl-geocoder--input {
  padding-left: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #cccccc;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 0;
  width: 242px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  top: 10px;
}

.mapboxgl-canary {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-top-left {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  display: none;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-icon {
  display: none;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-compass {
  display: none;
}

.mapboxgl-ctrl-zoom {
  display: none;
}

.mapboxgl-ctrl-geolocate {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-close {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-pin {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-marker {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-clear {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-chevron-up {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important ;
  background-color: transparent !important;
  transform: translate(-22px, -22px) !important;
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: -43px !important;
  top: 8px !important;
}

.marker-popup-qos .mapboxgl-popup-close-button {
  position: absolute;
  right: -90px !important;
  top: 8px !important;
}
.marker-popup-qos .mapboxgl-popup-content {
  padding: 0 !important ;
  background-color: transparent !important;
  transform: translate(-52px, -22px) !important;
}
